# Final Report

In [13]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [18]:
# download.file("https://github.com/fivethirtyeight/data/raw/master/bechdel/movies.csv", destfile = "movies.csv")
sleep_data <- read.csv("Sleep_Efficiency.csv")
head(sleep_data)

  ID Age Gender Bedtime             Wakeup.time         Sleep.duration
1 1  65  Female 2021-03-06 01:00:00 2021-03-06 07:00:00 6.0
2 2  69  Male   2021-12-05 02:00:00 2021-12-05 09:00:00 7.0
3 3  40  Female 2021-05-25 21:30:00 2021-05-25 05:30:00 8.0
4 4  40  Female 2021-11-03 02:30:00 2021-11-03 08:30:00 6.0
5 5  57  Male   2021-03-13 01:00:00 2021-03-13 09:00:00 8.0
6 6  36  Female 2021-07-01 21:00:00 2021-07-01 04:30:00 7.5
  Sleep.efficiency REM.sleep.percentage Deep.sleep.percentage
1 0.88             18                   70
2 0.66             19                   28
3 0.89             20                   70
4 0.51             23                   25
5 0.76             27                   55
6 0.90             23                   60
  Light.sleep.percentage Awakenings Caffeine.consumption Alcohol.consumption
1 12                     0           0                   0
2 53                     3           0                   3
3 10                     1           0                   0
4 52                     3          50                   5
5 18                     3           0                   3
6 17                     0          NA                   0
  Smoking.status Exercise.frequency
1 Yes            3
2 Yes            3
3 No             3
4 Yes            1
5 No             3
6 No             1

In [30]:
clean_data <- na.omit(sleep_data)
anyNA(clean_data)
clean_data <- clean_data %>%
              mutate(SleepEfficiency = Sleep.efficiency,
                     CeffeineConsumption = Caffeine.consumption,
                     AlcoholConsumption = Alcohol.consumption, 
                     SmokingStatus = Smoking.status,
                     ExerciseFrequency = Exercise.frequency) %>%
              select(SleepEfficiency,CeffeineConsumption,AlcoholConsumption,SmokingStatus,ExerciseFrequency) %>%
              mutate(SmokingStatus= as.factor(SmokingStatus))
              
head(clean_data)

[1] FALSE

  SleepEfficiency CeffeineConsumption AlcoholConsumption SmokingStatus
1 0.88             0                  0                  Yes
2 0.66             0                  3                  Yes
3 0.89             0                  0                  No
4 0.51            50                  5                  Yes
5 0.76             0                  3                  No
7 0.54            50                  0                  Yes
  ExerciseFrequency
1 3
2 3
3 3
4 1
5 3
7 1